<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="admin-login.css" type="text/css" rel="stylesheet">
    <script src="admin-login.js"></script>
    <title>Вход</title>
</head>
<header>Панель администратора</header>
<body>
<div class="container">
    <div class="login_form">
        <label class="input_label" for="login">Логин</label>
        <input class="input_text" type="text" id="login" name="login" value="">
        <label class="input_label" for="password">Пароль</label>
        <input class="input_text" type="password" id="password" name="password" value="">
        <input class="input_button" type="submit" value="Войти">
    </div>
</div>
</body>
</html>
