html, body, header {
    position: relative;
    margin: 0 auto;
}

html {
    height: 100%;
}

body {
    height: 90%;
    background-color: white;
}

header {
    color: white;
    background-color: #42076b;
    height: 10%;
    font: bold 30px Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.frequent, .blocked {
    position: relative;
    width: 720px;
    height: 280px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    overflow-y: auto;
}

.frequent::-webkit-scrollbar, .blocked::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}
.frequent::-webkit-scrollbar-track, .blocked::-webkit-scrollbar-track {
    background-color: #42076b50;
}
.frequent::-webkit-scrollbar-thumb, .blocked::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #42076b;
    cursor: pointer;
}

.frequent_button, .blocked_button {
    position: relative;
    color: white;
    font: normal 15px Arial, sans-serif;
    padding: 7px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
.frequent_button {
    background-color: #d4086b;
}
.blocked_button {
    background-color: #7d08a1;
}

.frequent_title, .blocked_title {
    margin: 15px auto;
    position: relative;
    font: bold 25px Arial, sans-serif;
    color: #42076b;
}

.frequent_entity, .blocked_entity {
    position: relative;
    width: 100%;
    margin: 5px 0 5px 0;
}

.frequent_form, .blocked_form {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.frequent_ip, .blocked_ip {
    position: relative;
    border: none;
    background: none;
    outline: none;
    font: bold 15px Arial, sans-serif;
    text-align: left;
    cursor: default;
}
