<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>403</title>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            history.replaceState({ html: document.body.innerHTML }, '', window.location.href);
        });
    </script>
</head>
<body
        style="
        position: relative;
        width: 100vw;
        height: 100vh;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center">
<div
        style="font: bold 150px Arial, sans-serif;
            color: purple;
            position: relative;
            margin: 0 auto;
            text-align: center;"
>
    403
</div>
<div
        style="font: normal 40px Verdana, sans-serif;
            color: white;
            background: purple;
            width: 50vw;
            position: relative;
            margin: 0 auto;
            padding: 20px;
            border-radius: 10px;
            text-align: center;"
>Переход на запрашиваемую страницу запрещён
</div>
</body>
</html>